In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('./train-item-views.csv', sep=';')

In [5]:
data.head(10)

   session_id  user_id  item_id  timeframe   eventdate
0           1      NaN    81766     526309  2016-05-09
1           1      NaN    31331    1031018  2016-05-09
2           1      NaN    32118     243569  2016-05-09
3           1      NaN     9654      75848  2016-05-09
4           1      NaN    32627    1112408  2016-05-09
5           1      NaN    33043     173912  2016-05-09
6           1      NaN    12352     329870  2016-05-09
7           1      NaN    35077     390072  2016-05-09
8           1      NaN    36118     487369  2016-05-09
9           1      NaN   129055     991416  2016-05-09